<template>
  <div id = "event-viewer" , class="col-3">

    <div id = "event-name" class="event-section">
      <span class = "img-holder">
        <button class = "btn" onclick="goBack()">&lt;</button>
      </span>
      <span class = text-holder>
        <p>${event.Subject}</p>
      </span>
    </div>

    <div class = "event-date-time event-section">
      <span class = "img-holder">
        <img src="src/resources/elements/icons/time.png">
      </span>
      <span class="text-holder">
        <p>${date}</p>
      </span>
    </div>

    <div class = "event-date-time event-section">
      <span class = "img-holder">
        <img src="src/resources/elements/icons/time.png">
      </span>
      <span class="text-holder">
        <p>${event.StartTime.slice(11,16)} TO ${event.EndTime.slice(11,16)}</p>
      </span>
    </div>

    <div class = "event-participants">
      <span class = "img-holder">
        <img src="src/resources/elements/icons/person.png">
      </span>
      <span class="text-holder">
        <div id = "participants">
          <p>PARTICIPANTS</p>
        </div>
        <div>
          <button class = "btn" onclick="showParticipants()">^</button>
        </div>
      </span>
    </div>

    <div id="participants-list">
      <ul id = "participant-names">
        <li repeat.for="participant of participants">
          <b style="font-variant: all-petite-caps; font-size: 20px;">${participant.Name}</b>
          <br>
          <t style="color: rgba(128,128,128, 0.8)">${participant.Title}</t>
        </li>
      </ul>
    </div>

    <div id = "event-description" class = "event-section">
      <span class = "img-holder">
        <img src="src/resources/elements/icons/description.png">
      </span>
      <span id="text-holder">
        <div id = "description">
          <p>DESCRIPTION</p>
        </div>
      </span>
    </div>

    <div id = "description-text">
      <p>${event.Description}</p>
    </div>

  </div>
</template>
