<template>
  <div id = "event-viewer", class="col-3">
    <div id = "event-name">
      <button class = "btn" onclick="goBack()">&lt;</button>
      <h6>eCraft Management Monthly Meeting</h6>
    </div>

    <div class = "event-date-time">
      <img src="src/resources/elements/icons/time.png">
      <h6>3.3.2018</h6>
    </div>

    <div class = "event-date-time">
      <img src="src/resources/elements/icons/time.png">
      <h6>7:30-8:30</h6>
    </div>

    <div id = "event-participants">
      <div id = "participants">
        <img src="src/resources/elements/icons/person.png">
        <h6>PARTICIPANTS</h6>
        <button class = "btn" onclick="showParticipants()">^</button>

      </div>
      <div id = "participant-names">
        <ul id="participant-list">
          <li>steve</li>
          <li>bob</li>
          <li>joe</li>
        </ul>
      </div>
    </div>
    <div id = "event-description">
      <div id = "description">
        <img src="src/resources/elements/icons/description.png">
        <h6>DESCRIPTION</h6>
      </div>
      <div id = "description-text">
        <p>lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </div>
</template>
