<template>
  <div id = "event-viewer", class="col-3">
    <div id = "event-name">
      <span class = "img-holder">
        <button class = "btn" onclick="goBack()">&lt;</button>
      </span>
      <span class = text-holder>
        <p>${name}</p>
      </span>
    </div>

    <div class = "event-date-time">
      <span class = "img-holder">
        <img src="src/resources/elements/icons/time.png">
      </span>
      <span class="text-holder">
        <p>${date}</p>
      </span>
    </div>

    <div class = "event-date-time">
      <span class = "img-holder">
        <img src="src/resources/elements/icons/time.png">
      </span>
      <span class="text-holder">
        <p>${startTime}-${endTime}</p>
      </span>
    </div>

    <div id = "event-participants">
      <span class = "img-holder">
        <img src="src/resources/elements/icons/person.png">
      </span>
      <span class="text-holder">
        <div id = "participants">
          <p>PARTICIPANTS</p>
          <button class = "btn" onclick="showParticipants()">^</button>
        </div>
      </span>
      <ul id = "participant-names">
        ${participants}
      </ul>
    </div>
    <div id = "event-description">
      <span class = "img-holder">
        <img src="src/resources/elements/icons/description.png">
      </span>
      <span id="text-holder">
        <div id = "description">
          <p>DESCRIPTION</p>
        </div>
        <div id = "description-text">
          <p>${description}</p>
        </div>
      </span>
    </div>
  </div>
</template>
