<template>
  <div id="infoscreen" class="col-6">
    <h2>CURRENT MEETING<br>___</h2>
    <div class="current-meeting">
      <h3>${CurrentMeeting}</h3>
      <div id="meeting-progress">
        <span>${StartTime}</span>
        <span id="progress-bar">
          <div id="progress"></div>
        </span>
        <span>${EndTime}</span>
      </div>
      <h6>${CurrentMeetingHost}</h6>
    </div>

    <div id="upcoming-events-bg" class="col-6">
      <span class="upcoming-events">
        <div>
          eventtime
        </div>
        <div>
          eventtitle
        </div>
        <div>
          eventorganizers
        </div>
      </span>
      <span class="upcoming-events">
        <div>
          eventtime
        </div>
        <div>
          eventtitle
        </div>
        <div>
          eventorganizers
        </div>
      </span>
      <span class="upcoming-events"></span>
    </div>
  </div>
</template>
