<template>
  <div id="infoscreen" class="col-6">
    <h2>CURRENT MEETING<br>___</h2>
    <div class="current-meeting">
      <h3>${CurrentMeeting}</h3>
      <div id="meeting-progress">
        <span>${StartTime}</span>
        <div id="progress-bar">
          <div id="progress"></div>
        </div>
        <span>${EndTime}</span>
      </div>
      <h2>${CurrentMeetingHost}</h2>
    </div>

    <div id="upcoming-events-bg" class="col-6">
      <div id="upcoming-events">
      </div>
    </div>
  </div>
</template>
