<template>
  <div id="infoscreen" class="col-6">
    <h2>CURRENT MEETING<br>___</h2>
    <div class="current-meeting">
      <h3>${CurrentMeeting.Subject}</h3>
      <div id="meeting-progress">
        <span>${CurrentMeeting.StartTime.slice(11,16)}</span>
        <span id="progress-bar">
          <div id="progress"></div>
        </span>
        <span>${CurrentMeeting.EndTime.slice(11,16)}</span>
      </div>
      <h6>${CurrentMeeting.Organizer}</h6>
    </div>

    <div id="upcoming-events-bg" class="col-6">
      <span class="upcoming-events" repeat.for="event of upcomingEvents">
        <div style="color: rgba(255,255,255,0.6)">
          ${event.StartTime.slice(11,16)} - ${event.EndTime.slice(11,16)}
        </div>
        <div>
          ${event.Subject}
        </div>
        <div style="color: rgba(255,255,255,0.6)">
          ${event.Organizer}
        </div>
      </span>
    </div>
  </div>
</template>
