@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
  font-family: Lato, sans-serif;
  margin:0;
}

/*"current meeting" text*/
h2{
  color: rgba(255,255,255,0.7);
  font-size: calc(4px + 2.1vmin);
  font-weight: 300;
  margin-top: 20vh;
}

/*current meeting name*/
h3{
  margin-top:0;
  font-size: calc(12px + 6vmin);
  font-variant: all-small-caps;
  font-weight: 900;
  padding-left: 7vmin;
  padding-right: 7vmin;
  max-height: 30vh;
}

/*"conference room" text*/
h4{
  color:darkgray;
  font-size: 15px;
  font-variant: all-petite-caps;
  margin:0;
  padding-top: 1vmin;
}

/*conference room name*/
h5{
  font-size: 20px;
  margin-top:0;
  margin-bottom:6px;
  font-variant: all-small-caps;
}

/*event organizer name in infoscreen*/
h6{
  color: rgba(255,255,255,0.7);
  font-size: calc(4px + 2.1vmin);
  font-weight: 300;
}

[class*="col-"]{
  float: left;
  width:100%;
  padding: 0;
}
/*should switch to just using bootstrap*/
@media only screen and (min-width: 710px) {
  .col-1 {width:11%; max-width: 400px;}
  .col-2 {width:22%; max-width: 600px;}
  .col-3 {width:33%; max-width: 800px;}
  .col-4 {width:44%; max-width: 1000px;}
  .col-5 {width:55%; max-width: 1200px;}
  .col-6 {width:66%; max-width: 1400px;}
  .col-7 {width:77%; max-width: 1600px;}
  .col-8 {width:88%; max-width: 1800px;}
  .col-9 {width:99%; max-width: 2000px;}
}

.row::after{
  content: "";
  clear: both;
  display: table;
}


/*infoscreen view*/
#infoscreen{
  float:left;
  color: white;
  text-align: center;
  background-image: url("/src/resources/elements/bg-image.jpg");
  background-color: dimgrey;
  background-size: cover;
  padding-top: 2vmin;
  height:98vh;
}

#meeting-progress span{
  text-align: center;
  display: inline-block;
  margin: 5px;
  margin-bottom: 1px;
}

#progress-bar{
  border-radius: 100px;
  text-align: center;
  width:50%;
  margin-left:25%;
  background-color: rgba(119, 119, 119, 0.2);
}

#progress{
  border-radius: 100px;
  width:25%;
  height:8px;
  background-color: #ffcc00;
}

#upcoming-events-bg{
  position: absolute;
  bottom:0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(2, 2, 25, 0.1);
  border-top: solid rgba(50,50,50,0.2);
  min-height: 4vmin;
  max-height: 11vh;
}

.upcoming-events{
  font-size: 12px;
  display: inline-block;
  margin: 1vh 3vw;
  color: white;
  text-align: left;
}


/*calendar view*/
#calendar {
  background: white;
  height:98vh;
  display: block;
}

#room-info{
  padding-left:10px;
  width:100%;
  border-bottom: 5px solid rgba(246, 246, 246, 0.2);
}

#cal_view{
  overflow-y: scroll;
  height:80vh;
}

#hours{
  float:left;
  font-size: 12px;
  text-align: left;
  padding:0;
  margin:0;
}

#hours li{
  display: block;
  padding: 10px 10px 10px 20px;
}

#events{
  display:inline-block;
  position: relative;
  width: 20vmax;
  z-index: 0;
}

.event-button{
  width: 100%;
  background: white;
  border: solid rgba(211, 211, 211, 0.13);
  border-left: 8px solid #ffcc00;
  text-align: left;
  padding: 5px;
}

#time-line{
  position:relative;
  /*34px per 30 min*/
  top: calc(34px*15.5);
  color: #ffcc00;
}


/*event-viewer view*/
#event-viewer{
  float:left;
  border-top: solid rgba(128, 128, 128, 0.2) 1px;
  overflow: auto;
  display: none;
}

#event-viewer p {
  float: left;
  font-weight: bold;
  font-size: 20px;
  padding-left: 14px;
  font-variant: all-small-caps;
}

.text-holder {
  float: left;
  width: calc(100% - 75px);
}

.img-holder {
  float:left;
  height: 100%;
  margin: 15px 10px 10px 5px;
}
.img-holder img{
  margin-left: 15px;
  height: 40px;
  width: 40px;
}
.event-section{
  display: inline-block;
  width: 100%;
  border-bottom: solid rgba(128, 128, 128, 0.2) 1px;
  height: 75px;
}
#event-name{
  background: #fc0;
  height: auto;
}

.event-participants button{
  float:left;
  color: grey;
  margin-top: 12px;
  
}

#participant-names{
  display: inline-block;
  margin-left: 50px;
  margin: 10px auto;
  padding: 10px 0;
}

#participant-list{
  display: inline-block;
  margin:0;
  padding: 0;
}

#participant-names li {
  display: block;
  font-variant: all-small-caps;
  width: 100%;
  padding-bottom: 10px;
  margin-left: 30%;
}

li b{
  font-variant: all-petite-caps;
  font-size: 18px;
}

#event-description{
  border-top: solid rgba(128, 128, 128, 0.2) 1px;
}

#description-text{
  display: inline-block;
  padding-left: 70px;
}

#description-text p{
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  margin: 0;
  margin-bottom: 5px;
}

.btn{
  float:left;
  color: white;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

#event-participants .btn {
  color: grey;
  font-size: 25px;
}

